/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;500;600;700&family=Work+Sans:wght@600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
  font-family: "Otaku Rant";
  src: url(../Otaku\ Rant\ Bold.ttf);
  font-style: normal;
  font-weight: normal;
}

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  --first-color: #f8c74b;
  --body-bg: #ca5918;
  /*===== typography =====*/
  --body-font: "Changa", sans-serif;
  --Otaku: "Otaku Rant";
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  --white: #fff;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font), serif;
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background: var(--body-bg);
  color: var(--white);
  position: relative;
}

.button {
  display: block;
  width: max-content;
  text-transform: capitalize;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img:not(.nav-logo, .no) {
  margin-inline: auto;
}

/*===== CLASS CSS ===== */
